#leftButton {
  margin-right: 10px;
}

#rightButton {
  margin-left: 10px;
  width: 60px;
}

.mat-dialog-actions {
display: flex;
justify-content: center;
}

.mat-dialog-title {
  margin-bottom: 0;
}

.form-control {
  padding: 0;
}

::ng-deep .mat-form-field-wrapper {
  padding-top: 0px;
  padding-bottom: 8px;
}

::ng-deep .mat-form-field-infix {
  padding: 0px;
}
