<h2>Personnummer = {{this.personnumber}}</h2>
<div>
    <form [formGroup]="form">
        <label>
            andningsfrekvens
            <input type="text" formControlName="respiratoryRate">
        </label>
        <br/>
        <label>
            Syremätnad
            <input type="text" formControlName="oxygenSaturation">
        </label>
        <br/>
        <label>
            Pulsfrekvens
            <input type="text" formControlName="pulseRate">
        </label>
        <br/>
        <label>
            Kroppstemperatur
            <input type="text" formControlName="temperature">
        </label>
        <br/>
        <label>
            Systoliskt blodtryck
            <input type="text" formControlName="systolicBloodPressure">
        </label>
        <br/>
        <label>
            Tillfört syre
            <input type="text" formControlName="supplementalOxygen">
        </label>
        <br/>
        <label>
            Medvetenhet
            <input type="text" formControlName="consciousness">
        </label>
    </form>
</div>
<div>
<label>NEWS2 Score = {{this.newsScore}}</label>
</div>
<div>
    <button mat-raised-button color="accent" (click)="openPopup('error')">Spara</button>
</div>
<br/>
<br/>
