<h2>Personnummer = {{this.personnumber}}</h2>
<div>
    <form [formGroup]="form">

      <div class="parameterRow d-flex align-items-center">
        <div class="individualNews alert alert-secondary alert-sm " id="respiratoryNews"> 1 </div>
        <div class="parameterTitle mr-auto col-4">
          Andningsfrekvens
        </div>
        <input type="text" formControlName="respiratoryRate" class=" inputField col-2 ml-auto form-control-lg p-2">
        <div class="collapseButton p-2">
          <span class="fa fa-angle-double-down fa-2x"></span>
        </div>
      </div>

        <div class="individualNews" id="saturationNews"> 0 </div>
        <label>
            Syremätnad
            <input type="text" formControlName="oxygenSaturation">
        </label>
        <br/>
        <label>
            Tillförd syrgas
            <input type="text" formControlName="supplementalOxygen">
        </label>
        <br/>
        <label>
            Systoliskt blodtryck
            <input type="text" formControlName="systolicBloodPressure">
        </label>
        <br/>
        <label>
            Pulsfrekvens
            <input type="text" formControlName="pulseRate">
        </label>
        <br/>
        <label>
            Medvetandegrad
            <input type="text" formControlName="consciousness">
        </label>
        <br/>
        <label>
            Temperatur
            <input type="text" formControlName="temperature">
        </label>
        <br/>
    </form>
</div>
<div>
<label>NEWS2 Score = {{this.newsScore}}</label>
</div>
<div>
    <button mat-raised-button color="accent" (click)="openPopup('error')">Spara</button>
</div>
<br/>
<br/>
