<h2>Personnummer = {{this.personnumber}}</h2>
<div>
<label (click)="openDialog(this.respiratoryConst)">Andningsfrekvens = {{this.respiratoryRate}}</label>
</div>
<div>
<label (click)="openDialog(this.saturationConst)">Syremätnad = {{this.oxygenSaturation}}</label>
</div>
<div>
<label (click)="openDialog(this.pressureConst)">Systolic blodtryck = {{this.systolicBloodPressure}} {{this.systolicBloodPressureUnit}}</label>
</div>
<div>
<label (click)="openDialog(this.pulseConst)">Pulsfrekvens = {{this.pulseRate}}</label>
</div>
<div>
<label (click)="openDialog(this.temperatureConst)">Kroppstemperatur = {{this.temperature}} {{this.temperatureUnit}}</label>
</div>
<div>
<label (click)="ChangeSupplementalOxygen()" *ngIf="supplementalOxygen">Tillfört syre = ja</label>
<label (click)="ChangeSupplementalOxygen()" *ngIf="!supplementalOxygen">Tillfört syre = nej</label>
</div>
<div>
<label>Medvetenhet = {{this.consciousness}}</label>
</div>
<label>Patient = {{this.patientinfo}}</label>
