<div align="center">

  <img id="logo" src="assets/img/vital-transparent.png" alt="vITal logotyp" *ngIf="!stopScanButtonVisible" >

  <div id="interactive" class="viewport" >
    <video id="camera" autoplay="true" preload="auto" src muted="true" playsinline="true" ></video>
    <!-- The following line of code removes all the whitespace under the camera after the the button to stat scan have been clicked. -->
    <canvas class="drawingBuffer" width="0" height="0"></canvas>
  </div>

  <button type="button" class="standardButton" *ngIf="!stopScanButtonVisible" (click)="startScanner()">
    Skanna streckkod
  </button>

  <button type="button" class="standardButton" *ngIf="stopScanButtonVisible" (click)="stopScanner()">
    Sluta skanna
  </button>

  <label *ngIf="barcodeValue">Skannad streckkod = {{barcodeValue}}</label>

  <div id="manualButton">
    <button class="standardButton" (click)="openDialog()">Manuell inmatning</button>
  </div>

  <button class="standardButton" (click)="goToLogout()">Logga ut</button>

</div>
<div class="userInfo">
Inloggad som: {{username}}
</div>
