<div align="center">

  <img id="logo" src="assets/img/vital-transparent.png" alt="vITal logotyp" *ngIf="!stopScanButtonVisible" >

  <!-- Scanner function -->
  <div id="interactive" class="viewport" >
    <video id="camera" autoplay="true" preload="auto" src muted="true" playsinline="true" ></video>
    <!-- The following line of code removes all the whitespace under the camera after the the button to stat scan have been clicked. -->
    <canvas class="drawingBuffer" width="0" height="0"></canvas>
  </div>

  <!-- Buttons -->
  <button type="button" name="scan" class="row largeButton" *ngIf="!stopScanButtonVisible" (click)="startScanner()">
    <img src="assets/img/skanna-streckkod.png" alt="" class="icon col-2">
    <div class="buttonText col-8">Skanna streckkod</div>
    <div class="empty col-2"> </div>
  </button>

  <button type="button" name="stopScan" class="row largeButton" *ngIf="stopScanButtonVisible" (click)="stopScanner()">
    <img src="assets/img/skanna-streckkod.png" alt="" class="icon col-2">
    <div class="buttonText col-8">Sluta skanna</div>
    <div class="empty col-2"> </div>
  </button>

  <div id="manualButton">
    <button type="button" name="manual" class="row largeButton"(click)="openDialog()">
      <img src="assets/img/skriv-in-manuellt.png" alt="" class="icon col-2" id="pen">
      <div class="buttonText col-8">Manuell inmatning</div>
      <div class="empty col-2"> </div>
    </button>
  </div>

  <button type="button" name="logOut" class="row largeButton" (click)="goToLogout()">
    <img src="assets/img/logga-ut.png" alt="" class="icon col-2">
    <div class="buttonText col-8">Logga ut</div>
    <div class="empty col-2"> </div>
  </button>
  <div *ngIf="showErrorMessage">
    <font color="red">
    Ogiltigt personnummer, försök igen.
    </font>
  </div>

  <label *ngIf="barcodeValue">Skannad streckkod = {{barcodeValue}}</label>

</div>
<div class="userInfo">
  Inloggad som: {{username}}
</div>
