.drawingBuffer{
    position: absolute;
    top: 0;
    left: 0;
}

#interactive.viewport {
    position: relative;
    width: 80%;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 400px;
}

video {
  height: 0px;
}

#interactive.viewport>canvas,
#interactive.viewport>video {
    max-width: 100%;
    width: 100%;
}

#manualButton {
  margin-top: 10px;
  margin-bottom: 40px;
}

#logo {
  height: 150px;
  margin-bottom: 0;
  margin-top: 20px;
}

.userInfo {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}
