.drawingBuffer{
    position: absolute;
    top: 0;
    left: 0;
}

#interactive.viewport {
    position: relative;
    width: 80%;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 400px;
}

video {
  height: 0px;
}

#interactive.viewport>canvas,
#interactive.viewport>video {
    max-width: 100%;
    width: 100%;
}

#logo {
  height: 150px;
  margin-bottom: 0;
  margin-top: 20px;
}

.userInfo {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.largeButton {
  background-color: #909090;
  height: 60px;
  width: 75%;
  margin: 1%;
  font-weight: bold;
  color: white;
  align-items: center;
}

img {
padding: 0;
object-fit: contain;
max-height: 100%;
width: auto;
}

/*Due to different sized image for pen*/
#pen {
  padding: 5px;
}
