<body>
<button class="btn" (click)="goBack()">Backa<i class="fas fa-chevron-down"></i></button>


<table class="table table-bordered ml-2 " style = "max-width: 95%">
    <thead>
    <tr>
        <th scope="col">Datum</th>
        <th scope="col">Tid</th>
        <th scope="col"></th>
        <th scope="col">News2</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th >dd-mm-yy</th>
        <td>15:30</td>
        <td>110</td>
        <td>@2</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>Larry the Bird</td>
        <td>Larry the Bird</td>

    </tr>
    <tr>
    <th scope="row">4</th>
    <td>Larry the Bird</td>
        <td>Larry the Bird</td>
        <td>Larry the Bird</td>
    </tr>
    </tbody>
</table>






    <div>

        <div style="display: block; min-height: 700px; max-width: 95vw; margin-left: 10px">
            <canvas baseChart id="graphId"
                    [datasets]="chartData"
                    [labels]="chartLabels"
                    [options]="chartOptions"
                    [chartType]="chartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>

</body>


