.containerHistoryGraph {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(216, 216, 216);
}


.historyTableDiv  {
   font-size: small;
}
.historyTableDiv > .row {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0px !important;
}
.historyTableDiv > .row > .rowGraph > span > .floatBox{
    float: left;
    padding-left: 3px;
    margin: 1px;
    padding-right: 3px;
    color: black;
}
.historyTableDiv > .row > .col {
    position: relative;
    padding: 0px !important;
}


.historyTableDiv > .row > .col > .nameOfTable{
    font-weight: bold;
    background-color: rgb(216, 216, 216);
}
.historyTableDiv > .row > .col > ul {
    text-align: center;
    border: 1px solid black;
    background-color: white;
    margin: 0%;
    padding-right: 20px;
    padding-left: 20px;
}
.historyTitle{
    padding-left: 1rem;
    padding-top: 1rem;
}
.rowGraph{
    color: white;
    margin: 0 !important;
    background-image: linear-gradient(rgb(92, 92, 92), rgb(17, 17, 17));
    padding: 5px;
    padding-left: 1rem;
    width: 100%;
}

.GraphContainer{
    margin-top: 1rem;
    padding-bottom: 20px;
    background-color: #D8D8D8;
}
