<div class="m-4">

  <div class="text-center">
    <img id="logo" src="assets/img/logo.jpg" alt="vITal logotyp">
  </div>

  <div id="login" align="center">
    <div id=loginFields>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group" align="left">
          <label for="username">Användarnamn</label>
          <input type="text" formControlName="username" class="form-control" id="username"/>
        </div>
        <div class="form-group" align="left">
          <label for="password">Lösenord</label>
          <input type="password" formControlName="password" class="form-control" id="password"/>
        </div>
        <div *ngIf="isInvalid">
          Invalid username or password!
        </div>
        <div class="form-group">
          <button class="standardButton">Logga in</button>
        </div>
      </form>
    </div>
  </div>
</div>
